<!DOCTYPE html>
<html>
  <head>
    {% extends 'source/index.html' %}
    {% load static %}
    <title>Artwork Gallery</title>
  </head>
  <body>
    {% block auth %}
      <a href="/artwork/logout/" class="nav">Log out</a>
      <a href="/artwork/settings/" class="settings nav">settings</a>
    {% endblock %}

    {% block namelist %}
      <div class="list">
        <div class="click">
          <button class="button francis">Francis</button>
          <button class="button carla">Carla</button>
          <button class="button kayron">kayron</button>
          <button class="button mary">Mary</button>
          <button class="button allen">Allen</button>
        </div>
      </div>
    {% endblock %}

    {% block artpic %}
      <h1 style="padding: 16px; font-weight: bold;" class="txt text">See Artists Works...</h1>
      <!--artworks of francis-->
      <div id="francis">
        <h2 style="padding: 16px; font-weight: bold;">Francis artworks</h2>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Francis/321419238_533358888729684_3919338897916292289_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Melancholy</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Francis/321488562_468321175448723_4049202340985241300_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Serenade</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Francis/321273472_965643531081316_2574901481334254561_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Fly To The Moon</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Francis/321935352_1235165870547280_6890989618708632142_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Yellow</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Francis/321761174_704084161314048_6396885823605268555_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Deal</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Francis/321377733_910486923288641_3439106491305087806_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Neptune</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Francis/323528578_1347635389369507_5832243854390279083_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Eabab</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Francis/321418532_529667728929774_2030120802706883453_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Candy Peeps</p>
          </div>
        </div>
      </div>
      <!--artworks of carla-->
      <div id="carla">
        <h2 style="padding: 16px; font-weight: bold;">Carlas artworks</h2>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Carla/312960481_1521347974958629_3938726241202346316_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Two Joins</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Carla/313338214_1290401691735136_2551033622151590130_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Ninjaaa</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Carla/312889847_1304844850308539_8468772896065983379_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Gae</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Carla/321304424_893549141831474_7653550552654324306_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Unique Potter</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Carla/313083675_492321326276021_3517786352821497330_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Gin Ichimaru</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Carla/321993651_1536974223487882_2769494243341790156_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Jake the Doggers</p>
          </div>
        </div>
      </div>
      <!--artworks of kayron-->
      <div id="kayron">
        <h2 style="padding: 16px; font-weight: bold;">Kayrons artworks</h2>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Kayron/322924161_504353738466900_3310242022932418079_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Beautiful squad</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Kayron/323072228_939797250731528_1591894926776139375_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Breath</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Kayron/323009943_699034551955050_3659228896047084292_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Endangered</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Kayron/323007529_1324108674803239_4068844425266364233_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Fire Boy</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Kayron/323699070_825618825207151_1442996546533756502_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Jughead Jones</p>
          </div>
        </div>
      </div>
      <!--artworks of mary-->
      <div id="mary">
        <h2 style="padding: 16px; font-weight: bold;">Marys artworks</h2>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Mary/322014454_1053043116098010_1674307726692071783_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Mary Adeline</p>
          </div>
        </div>
      </div>
      <!--artworks of allen-->
      <div id="allen">
        <h2 style="padding: 16px; font-weight: bold;">Allens artworks</h2>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Allen/320851602_3685627225037953_2852342882370892252_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Twenty two</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Allen/321077767_5810189725705552_3746221357275318243_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Dalawampu't isa</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Allen/322150103_704108091431233_2376230561692670812_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Unpaid Therapist</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Allen/322579705_733879718099572_4853133668784211023_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Treacherous</p>
          </div>
        </div>
        <div class="col-md-3 art">
          <div class="img">
            <img src="{% static 'img/Allen/320007843_605342438066329_1869742889047497327_n.jpg' %}" style="object-fit: cover;" width="150px" height="240px">
            <p>Wisdom</p>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>