<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Sign in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Blaka&family=Creepster&family=Darker+Grotesque:wght@300;400&family=Eater&family=Josefin+Slab:ital,wght@0,100;0,200;1,100&family=Podkova&family=Press+Start+2P&family=Rajdhani:wght@300&family=Reggae+One&family=Staatliches&family=Syne+Mono&family=VT323&display=swap"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}"/>
  </head>
  <body>
    {{data|safe}}
    <div class="align">
      <div class="form">
        <h1>Creative Space</h1>
        <form action="" method="post" onsubmit="return sign_in();">
          {% csrf_token %}
            <input type="email" name="email" placeholder="Email"></br></br>
            <input type="password" name="pass" placeholder="Password"></br></br>
            <input type="submit" value="Sign in"><a href="/sign-up/">Sign up</a>
        </form>
      </div>
    </div>
    <script src="{% static 'js/auth.js' %}"></script>
  </body>
</html>