body {
  background: #dcdcdc;
}
.banner {
  padding: 24px;
}
.banner > .nav {
  border: 3px solid black;
  padding: 10px 20px 10px 20px;
  float: right;
  border-radius: 6px;
}
.title {
  font-family: 'Blaka';
  font-size: 80px;
}
.names {
  text-align: center;
  background-color: #f8f8ff;
  padding: 16px;
  border-radius: 6px;
  font-weight: bold;
}
.art-list {
  text-align: center;
  background-color: #f8f8ff;
  padding: 16px;
  border-radius: 6px;
  font-weight: bold;
}
.artist {
  text-align: center;
}
.artist > img {
  box-shadow: 2px 2px 3px 4px #808080;
}
.log-first {
  padding: 16px;
  font-weight: bold;
}